<!DOCTYPE HTML>
<html lang="en-US">

	<head>
		<meta charset="UTF-8">
		<title>Memo</title>
		<link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="../static/assets/css/style.css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
		<script type="text/javascript" src="../static/assets/js/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="../static/assets/js/ddsmoothmenu.js"></script>
		<script type="text/javascript" src="../static/assets/js/jquery.jcarousel.js"></script>
		<script type="text/javascript" src="../static/assets/js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="../static/assets/js/carousel.js"></script>
		<script type="text/javascript" src="../static/assets/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="../static/assets/js/jquery.masonry.min.js"></script>
		<script type="text/javascript" src="../static/assets/js/jquery.slickforms.js"></script>
	</head>
	<body>
<!-- Begin Wrapper -->
    <div>
      <div id="wrapper">
        <!-- Begin Sidebar -->
        <div id="sidebar">
          <div id="logo"><a href="memo.html"><img src="../static/images/logo.png" alt="Caprice" /></a></div>
          
        <!-- Begin Menu -->
        <div id="menu" class="menu-v">
        <ul>

        <br>
        <br>
          <form action="/addfile" method="POST">
            <input type="text" placeholder="filename" name="filename">
            <button type="submit">Add file</button>
          </form>
          <br>
          <br>
          <form action="/deletefile" method="POST">
            <input type="text" placeholder="filename" name="filename">
            <button type="submit">Delete file</button>
          </form>
          <br>
          <br>

          <form action="/filelist" method="POST">
            <input type="text" placeholder="filename" name="filename">
            <button type="submit">Open file</button>
          </form>            
      


          <br>
          <br>
        </ul>
        </div>
      </div>
    </div>		
    <!-- End Menu -->
   
  
    <div id="content">
    <h1 class="title">Welcome to Hongnote</h1>
    
    <div>
      <table style="width:100%">
        <tr>
          <th>FileName</th>
          <th></th>
        </tr>
        {% for file in filelist %}
        <tr>
          <form action="/open/{{file[:-4]}}" method="POST">
            <td name="filename">{{file}}</td>
            <td>
            <button type="submit">Open</button>
            </td>
          </form>
        </tr>
        {% endfor %}
        
      </table>
    </div>


	<!-- End Sidebar -->
	<br>
	<br>
	<br>
	
    <!-- End Portfolio -->

	<!-- Begin Content -->

		
	<!-- Begin Slider -->

    <!-- End Slider --> 
	
	<!-- End Wrapper -->
		<div class="clear"></div>
		<script type="text/javascript" src="../static/assets/js/scripts.js"></script>
		<!--[if !IE]> -->
		<script type="text/javascript" src="../static/assets/jquery.corner.js"></script>
		<!-- <![endif]-->
	</body>
	</html>